
<div>
    <h1>Lista de Productos</h1>
    <ul id="productList">
    </ul>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script src="/js/index.js"></script> --}}
<script src="/js/home.js"></script>